#dark{


    border:5px solid  rgb(162, 195, 43);
    background-color: rgba(238, 0, 0, 0.997);
    color: rgb(0, 0, 0);


p {
    background-color: burlywood;
    color: rgb(169, 45, 169);
}
.piglet{
    background-color: rgb(14, 145, 127);
    color: rgb(238, 238, 238);
    padding:30px
}
.JOjo{
    background-color: rgb(226, 181, 113);
    color: black;
    padding: 10px;
}
h1 {
    background-color: rgb(255, 255, 255);
    color: aqua;
    padding: 20px;
}
footer p{
    margin: 0;
    padding:0;
}
}